html {
  font-size: 62.5%;
}
body *{
   font-size: 1.6rem;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
  -webkit-overflow-scrolling: touch;
  font-family: "MS Pゴシック" , sans-serif; ;
}
body {
  margin :0;
  height: 100vh;
  width: 100%;
}
#root {
  height: 100%;
}
.tramp-ground {
  height: 100%;
  background-color: #398a02;
}
.ground-inner {
  height: 100%;
  padding: 120px 0 120px 0;
}
img {
  width: 100%;
  vertical-align: bottom;
}
ul {
  width: 100%;
  display: flex;
}
.own-card-wrap {
  position: fixed;
  bottom: 0;
  justify-content: center;
}
.oppo-card-wrap {
  position: fixed;
  top: 0;
  justify-content: center;
}
.card-item {
  list-style: none;
  padding: 10px;
  width: 100px;
  margin-left: 30px;
  background-size: cover;
  height: 149px;
  border: solid 0.5px rgb(0 0 0);
  border-radius: 10px;
}
.card-item:first-of-type {
  margin-left: 0;
}
.own-tranp {
  cursor: pointer;
  transition: ease-in-out .1s;
}
.own-tranp:hover {
  transform: translate(0,-10px);
  transition: ease-in-out .1s;
}
.no-pointer {
  display: none;
}

.battle-field {
  height: 100%;
  width: 100%;
  position: relative;
}

.own-battle-item {
  /* transition: ease-in-out .5s; */
  transform: translate(0,30px);
  opacity: 0;
  position: absolute;
  bottom: 40px;
  left: 50%;
  padding: 10px;
  width: 100px;
  background-size: cover;
  height: 149px;
  border: solid 0.5px rgb(0 0 0);
  border-radius: 10px;
}
.summon-own-card {
  /* transition: ease-in-out .5s;
  transform: translate(0,0); */
  animation: slideOwn .9s  forwards;
}
.oppo-battle-item {
  transform: translate(0,-30px);
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 50%;
  padding: 10px;
  width: 100px;
  height: 149px;
  background-size: cover;
  border: solid 0.5px rgb(0 0 0);
  border-radius: 10px;
}
.summon-oppo-card {
  animation: slideOppo .9s forwards;
}

.slide-out-own {
  transform: translate(0,-10px);
  animation: slideOwnOut .3s forwards;
}
/* .slide-out-own2{
  animation: slideOwnOut .1s forwards;
} */
.judge-place {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%,-50%);
  width: 100%;
  text-align: center;
  background-color: #00000080;
  width: 400px;
  padding: 10px 0;
  border-radius: 5px;
}
.judge-content {
  font-size: 3rem;
  font-weight: bold;
  font-family: serif;
}

@keyframes slideOwnOut {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform:translate(0,-50px);
  }
}

@keyframes slideOwn {
  0% {
    /* transform: translateX(0,30px); */
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
  40%,100% {
    opacity: 1;
  }
}
@keyframes slideOppo {
  0% {
    /* transform: translateX(0,-30px); */
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
  40%,100% {
    opacity: 1;
  }
}