.top-menu {
  height: 100vh;
  position: relative;
}
.top-bg {
  background-image: url(../public/top-bg.png);
  width: 100%;
  height: 540px;
  position: absolute;
  bottom: 0;
  background-size: cover;
}
.top-inner {
  position: absolute;
  z-index:2;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.top-menu h1 {
  width: 700px;
  color: #ffff;
  text-align: center;
}
.top-btn-wrap {
  text-align: center;
}
.top-btn {
  margin-top: 60px;
    font-size: 3rem;
    font-weight: bold;
    padding: 5px 60px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #c83913;
    cursor: pointer;
}
.top-btn:hover {
  background-color: #89280e;
}
